.change-password-modal{
    display:block
}
.change-password-modal-title{
    flex-direction: column;
    justify-content: center;
    font-size: larger;

}
.change-password-modal-subtitle{
    justify-content: center;
}
.password-review{
    margin-top: 10px;
}