.recipient-container {
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipient-card {
  background-color: var(--bg-primary);
  box-shadow: 0 10px 20px var(--shadow-lg);
  border-radius: 1rem;
  padding: 2rem;
  width:600px;
  animation: fadeIn 0.5s ease-in-out;
}

.recipient-title {
  text-align: center;
  color: var(--brand-color);
  margin-bottom: 1.5rem;
}

.recipient-form .form-group {
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
}

.recipient-form label {
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}

.recipient-form input,
.recipient-form textarea {
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 1rem;
  color: var(--text-primary);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.recipient-form input:focus,
.recipient-form textarea:focus {
  outline: none;
  border-color: var(--input-focus);
  box-shadow: 0 0 5px var(--input-focus);
}
.recipient-form input[type='radio']{
  margin:0 10px;
}
.btn-submit {
  background: var(--brand-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  float:right;
}

.btn-submit:hover {
  background: var(--brand-hover);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
